#drawtime {
    position: absolute; 
    bottom: 0; 
    z-index: 5000    
}

#drawbox {
    width: auto; 
    margin-left: -340px; 
    margin-top: -60px    
}

#drawbox .modal-body {
    max-height: none; 
    padding: 0
}

article .toobig {
    font-size: 4em;
}